<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name=viewport content='width=700'>
 <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "The Middleman" %></title>

  <%= stylesheet_link_tag "normalize", "all" %>
   <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
  <%= javascript_include_tag  "all" %>
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
</head>


<body class="<%= page_classes %>">
  <%= partial "logobar" %>
  <%= yield %>
  <%= partial "footer" %>
  
   <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" id="myModalDialog" role="document">
        <!-- This content is dynamicly loaded -->
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script src="validator.min.js"></script>
    
    <script>
        $( "#myModalDialog" ).load( "question1.html");
        $is_noise_complaint = false;    // yes, bit ugly code
        $form_data = {
            "event_caused": false,
            "latitude": 0.0,
            "longitude": 0.0,
            "datetime": "",
            "email": "",
            "types": "",
            "noise_types": "",
            "noise_indoor": ""
        };
        
        // Re-set modal view when it is hidden
        $('#myModal').on('hidden.bs.modal', function (e) {
            // Go to question 1
            $( "#myModalDialog" ).load( "question1.html");
            
            // Clear form data
            $form_data = {
                "event_caused": false,
                "latitude": 0.0,
                "longitude": 0.0,
                "datetime": "",
                "email": "",
                "types": "",
                "noise_types": "",
                "noise_indoor": ""
            };
        });
    </script>
    
<script>
    var geocoder;
    function initGeocoder() {
        geocoder = new google.maps.Geocoder();
    }

      function geocodeAddress(address, f) {
        geocoder.geocode({'address': address}, f);
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo4ImWIJTwudaRRryaaxRrtFhpiEp00I8&callback=initGeocoder">
    </script>

  </body>
</html>
