<div class="logobar">
  <div class="logos">
    <a href="http://nsg.nl" target="_blank" data-toggle="tooltip" data-placement="bottom" title=" Nederlandse Stichting Gehoor"><%= image_tag("img_logo-nsg.png",class: "logo") %></a>
    <a href="http://chasingthehihat.nl" target="_blank" data-toggle="tooltip" data-placement="bottom" title=" Chasing the hihat"><%= image_tag("http://chasingthehihat.nl/wp-content/themes/cth-custom/img/logo.png",class: "logo") %></a>
    <a href="http://www.ams-amsterdam.com/"  target="_blank" data-toggle="tooltip" data-placement="bottom" title="Adcanced Metropolitan Solutions"><%= image_tag("http://www.ams-amsterdam.com/wordpress/wp-content/themes/ams/images/logo.png",class: "logo") %></a>
    <a href="http://www.tudelft.nl/" target="_blank" data-toggle="tooltip" data-placement="bottom" title=" Technische Universiteit Delft"><%= image_tag("TU_Delft_logo_White.png",class: "logo") %></a>
    <a href="http://dgmr.nl/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="DGMR"><%= image_tag("DGMR.png",class: "logo") %></a>
  </div>
</div>
<%= partial "collapse" %>
