<div class="logobar">
  <div class="logos">
    <a href="http://nsg.nl" target="_blank" data-toggle="tooltip" data-placement="bottom" title=" Nederlandse Stichting Gehoor"><%= image_tag("gehoor.jpg",class: "logo") %></a>
    <a href="http://chasingthehihat.nl" target="_blank" data-toggle="tooltip" data-placement="bottom" title=" Chasing the hihat"><%= image_tag("CTH.png",class: "logo") %></a>
    <a href="http://www.ams-amsterdam.com/"  target="_blank" data-toggle="tooltip" data-placement="bottom" title="Adcanced Metropolitan Solutions"><%= image_tag("AMS_LogoRED3.png",class: "logo") %></a>
    <a href="http://www.tudelft.nl/" target="_blank" data-toggle="tooltip" data-placement="bottom" title=" Technische Universiteit Delft"><%= image_tag("tu.jpg",class: "logo") %></a>
    <a href="http://dgmr.nl/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="DGMR"><%= image_tag("DGMR.png",class: "logo") %></a>
  </div>
</div>
<%= partial "collapse" %>


